{% extends 'AppSiteBundle::base.html.twig' %}

{% block content %}
    <span class="gamma list-title">5 resultaten gevonden voor "Gatekeepers"</span>

    <ul class="list">
        {% for result in results %}
        <li>
            <div class="overview-item">
                <div class="imageholder">
                    <a href="#"><img src="{{ asset(result.getImagePath()) }}" alt="" /></a>
                </div>
                <div class="content">
                    <div class="header">
                        <h2 class="beta"><a href="#">{{ result.getName }}</a></h2>
                        <div class="mana-cost">
                            <span class="colorless-mana">{{ result.getManaCost }}</span>
                            <!--
                            <span class="colorless-mana">3</span>
                            <span class="blue-mana">U</span>
                            -->
                        </div>
                    </div>
                    <div class="types">
                        <span>{{ result.getTypes }}</span>
                        <!--
                        <span class="seperator">-</span>
                        <span>Vedalken Soldier</span>
                        -->
                    </div>
                    <div class="text">
                        <p>{{ result.getText }}</p>
                    </div>
                    {% if result.hasPowerOrToughness() %}
                    <div class="power-toughness">
                        <span>{{ result.getPower() }} / {{ result.getToughness() }}</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </li>
       {% endfor %}
    </ul>
{% endblock %}